.section1{
    background-color: indigo;
    height: 350px;
}

.color-heading{
    color: orange;
    text-decoration: none;
    font-size:40px ;
}

img{
    height: 300px;
    width: 300px;
}

.division{
    float: left;
    background-color: antiquewhite;
    width: 48%;
    height: 400px;
    padding-left: 20px;

}


button{
    height: 50px;
    width: 150px;
    color: rgb(190, 64, 64);
    background-color: rgb(37, 172, 60);
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
}


.section2{
    height: 400px;
    margin-bottom: 10px;
    background-color: rgb(187, 164, 187);
}


#heading{
    font-size: 70px;
    color: tomato;
    text-align: center;
    
}
span{
    color: rgb(127, 6, 241);
}



#section3{
    height: 600px ;
    margin-bottom: 30px;
    background-color: gold;
}

.division3{
    float: left;
    background-color:rebeccapurple;
    width: 30%;
    height: 300px;
    margin-right: 2%;
    padding:2px;
    padding-bottom: 100px;
    margin-bottom: 150px;
    margin-left: 10px;
    align-items: center;
}

div img{
    align-items: center;
    text-align: center;
    align-self: center;
    margin-left: 50px;
    margin-top: 10px;
}

body{
    display: block;
}




.sec4-div{
    
    float: left;
    width: 45%;
    height: 350px;
    margin: 2%;
    border: 2px solid maroon;
    background-color: rgb(43, 241, 232);
    margin-bottom: 50px;

}


#sec4-h1{
    color: hotpink;
    font-size: 50px;
    text-align: center;
}



#sec4-d1{
    height: 750px;
    background-color: rgb(83, 55, 107);
}

.sec5-div{
    
    height: 150px;
    width:280px;
    background-color: rgb(28, 28, 245);
    text-align: center;
   border-radius: 10px;
   margin-top: 20px;
    margin: auto;
}

#sec5-h1{
    margin-top: 10px;
}



footer{
    text-align: center;
}
